    <footer class="footer bg-gray-100">
      <h1 class="logo">Global Museum</h1>
      <!-- <p>Copyright &copy; 2021</p> -->
      <p style="font-style: oblique">"Where there is a will there is a way"</p>
      <div class="social">
        <i title="Like our facebook page" class="fab fa-facebook"></i>
        <i title="Follow us on twitter" class="fab fa-twitter"></i>
        <i title="Chat us on whats app" class="fab fa-whatsapp"></i>
      </div>
    </footer>
  </body>
</html>
