<%- include('partials/header') %>
<div class="w-4/5 m-auto py-40 bg-gray-50 h-full relative px-10">
  <div class="w-6/12">
    <!-- <div class="cartCard">
    <div class="w-48 text-center">
      <img
        class="object-center object-cover h-3/5 w-full"
        src="images/image.jpg"
        alt="camera"
      />
      <span class="block text-gray-800 py-2 text-sm">HD Camera</span>
    </div>
    <div class="h-10 w-17">
      <span>Quantity: &nbsp;</span>
      <input
        class="h-full outline-none p-4 w-3/5 rounded"
        type="number"
        value="1"
      />
    </div>
    <div class="flex gap-10 items-center">
      <div class="text-gray-700 text-sm">
        <span>Ksh 20,000</span>
      </div>
      <div>
        <button class="tailwindBtn">Remove</button>
      </div>
    </div>
  </div> -->

    <div>
      <h2
        class="
          pt-4
          pb-2
          text-gray-600
          font-bold
          border-b-2 border-gray-400
          mb-2
        "
      >
        Your Order
      </h2>

      <div class="grid grid-cols-3 gap-4 p-2 text-sm bg-white">
        <div class="bg-red-300 h-24 w-3/5">
          <img
            class="object-center object-cover h-full w-full"
            src="images/image.jpg"
            alt="product"
          />
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <h3 class="text-gray-700 font-bold">Ec-GO Bag Standard</h3>
            <span class="text-gray-400 text-xs">By Lynette Wangui</span>
          </div>
          <div>
            <span class="text-gray-500 font-bold">QTY </span>
            <input
              class="w-14 h-8 outline-none py-1 px-2 rounded bg-gray-100 ml-10"
              type="number"
              value="1"
              id=""
            />
          </div>
        </div>
        <div class="flex flex-col justify-between py-2">
          <span class="font-bold text-gray-600">Ksh 30,000</span>
          <span
            class="
              text-red-400
              font-bold
              hover:text-red-600
              cursor-pointer
              transition
              duration-250
            "
            >Remove</span
          >
        </div>
      </div>

      <hr />
      <div class="grid grid-cols-3 gap-4 p-2 text-sm bg-white">
        <div class="bg-red-300 h-24 w-3/5">
          <img
            class="object-center object-cover h-full w-full"
            src="images/image2.jpg"
            alt="product"
          />
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <h3 class="text-gray-700 font-bold">Ec-GO Bag Standard</h3>
            <span class="text-gray-400 text-xs">By Lynette Wangui</span>
          </div>
          <div>
            <span class="text-gray-500 font-bold">QTY </span>
            <input
              class="w-14 h-8 outline-none py-1 px-2 rounded bg-gray-100 ml-10"
              type="number"
              value="1"
              id=""
            />
          </div>
        </div>
        <div class="flex flex-col justify-between py-2">
          <span class="font-bold text-gray-600">Ksh 30,000</span>
          <span
            class="
              text-red-400
              font-bold
              hover:text-red-600
              cursor-pointer
              transition
              duration-250
            "
            >Remove</span
          >
        </div>
      </div>

      <hr />

      <div class="grid grid-cols-3 gap-4 p-2 text-sm bg-white">
        <div class="bg-red-300 h-24 w-3/5">
          <img
            class="object-center object-cover h-full w-full"
            src="images/image2.jpg"
            alt="product"
          />
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <h3 class="text-gray-700 font-bold">Ec-GO Bag Standard</h3>
            <span class="text-gray-400 text-xs">By Lynette Wangui</span>
          </div>
          <div>
            <span class="text-gray-500 font-bold">QTY </span>
            <input
              class="w-14 h-8 outline-none py-1 px-2 rounded bg-gray-100 ml-10"
              type="number"
              value="1"
              id=""
            />
          </div>
        </div>
        <div class="flex flex-col justify-between py-2">
          <span class="font-bold text-gray-600">Ksh 30,000</span>
          <span
            class="
              text-red-400
              font-bold
              hover:text-red-600
              cursor-pointer
              transition
              duration-250
            "
            >Remove</span
          >
        </div>
      </div>

      <hr />

      <div class="grid grid-cols-3 gap-4 p-2 text-sm bg-white">
        <div class="bg-red-300 h-24 w-3/5">
          <img
            class="object-center object-cover h-full w-full"
            src="images/image2.jpg"
            alt="product"
          />
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <h3 class="text-gray-700 font-bold">Ec-GO Bag Standard</h3>
            <span class="text-gray-400 text-xs">By Lynette Wangui</span>
          </div>
          <div>
            <span class="text-gray-500 font-bold">QTY </span>
            <input
              class="w-14 h-8 outline-none py-1 px-2 rounded bg-gray-100 ml-10"
              type="number"
              value="1"
              id=""
            />
          </div>
        </div>
        <div class="flex flex-col justify-between py-2">
          <span class="font-bold text-gray-600">Ksh 30,000</span>
          <span
            class="
              text-red-400
              font-bold
              hover:text-red-600
              cursor-pointer
              transition
              duration-250
            "
            >Remove</span
          >
        </div>
      </div>

      <hr />

      <div class="grid grid-cols-3 gap-4 p-2 text-sm bg-white">
        <div class="bg-red-300 h-24 w-3/5">
          <img
            class="object-center object-cover h-full w-full"
            src="images/image2.jpg"
            alt="product"
          />
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <h3 class="text-gray-700 font-bold">Ec-GO Bag Standard</h3>
            <span class="text-gray-400 text-xs">By Lynette Wangui</span>
          </div>
          <div>
            <span class="text-gray-500 font-bold">QTY </span>
            <input
              class="w-14 h-8 outline-none py-1 px-2 rounded bg-gray-100 ml-10"
              type="number"
              value="1"
              id=""
            />
          </div>
        </div>
        <div class="flex flex-col justify-between py-2">
          <span class="font-bold text-gray-600">Ksh 30,000</span>
          <span
            class="
              text-red-400
              font-bold
              hover:text-red-600
              cursor-pointer
              transition
              duration-250
            "
            >Remove</span
          >
        </div>
      </div>

      <hr />

      <div class="grid grid-cols-3 gap-4 p-2 text-sm bg-white">
        <div class="bg-red-300 h-24 w-3/5">
          <img
            class="object-center object-cover h-full w-full"
            src="images/image2.jpg"
            alt="product"
          />
        </div>
        <div class="flex flex-col justify-between">
          <div>
            <h3 class="text-gray-700 font-bold">Ec-GO Bag Standard</h3>
            <span class="text-gray-400 text-xs">By Lynette Wangui</span>
          </div>
          <div>
            <span class="text-gray-500 font-bold">QTY </span>
            <input
              class="w-14 h-8 outline-none py-1 px-2 rounded bg-gray-100 ml-10"
              type="number"
              value="1"
              id=""
            />
          </div>
        </div>
        <div class="flex flex-col justify-between py-2">
          <span class="font-bold text-gray-600">Ksh 30,000</span>
          <span
            class="
              text-red-400
              font-bold
              hover:text-red-600
              cursor-pointer
              transition
              duration-250
            "
            >Remove</span
          >
        </div>
      </div>

      <!-- total -->
      <div class="text-sm border-t-2 border-gray-400 pt-2 mt-6">
        <div class="flex justify-between px-6 py-1">
          <span>Subtotal</span>
          <span>ksh 34, 000</span>
        </div>
        <div class="flex justify-between px-6 py-1">
          <span>Shipping</span>
          <span>ksh 4, 000</span>
        </div>
        <div class="flex justify-between px-6 py-1 font-bold text-gray-800">
          <span>Total</span>
          <span>ksh 34, 000</span>
        </div>
      </div>
    </div>

    <!-- Checkout -->

    <div
      class="
        fixed
        bg-white
        top-1
        right-24
        mr-10
        mt-28
        z-20
        p-5
        rounded
        shadow-xl
      "
    >
      <h1 class="font-bold text-2xl py-4 text-gray-600">Checkout</h1>
      <h2
        class="
          uppercase
          text-gray-700
          py-1
          border-b border-gray-400
          text-sm
          font-bold
        "
      >
        Shipping Details
      </h2>
      <div class="text-gray-800 pt-2">
        <span class="block text-sm py-1">Name: Lynette Wangui</span>
        <span class="block text-sm py-1">Email: lynettewangui04@gmail.com</span>
        <span class="block text-sm py-1">Address: Limuru</span>
        <!-- <span class="block text-sm py-1">Address: St Paul's University</span> -->
      </div>

      <h2
        class="
          uppercase
          text-gray-700
          py-1
          border-b border-gray-400
          text-sm
          pt-4
          font-bold
        "
      >
        Payment Details
      </h2>
      <form class="pt-4" action="">
        <label
          class="block pt-4 uppercase text-gray-900 uppercase text-xs"
          for="name"
          >Name on card</label
        >
        <input
          class="tailInput w-full"
          type="text"
          id="name"
          placeholder="JOHN DOE"
        />
        <label
          class="block pt-4 uppercase text-gray-900 uppercase text-xs"
          for="number"
          >Card Number</label
        >
        <input
          class="tailInput w-full"
          type="text"
          id="number"
          placeholder="8888-8888-8888-8888"
        />
        <div class="flex gap-4">
          <div>
            <label
              class="block pt-4 uppercase text-gray-900 uppercase text-xs"
              for="through"
              >Valid Through</label
            >
            <input
              class="tailInput w-full"
              type="text"
              id="through"
              placeholder="02/2023"
            />
          </div>
          <div>
            <label
              class="block pt-4 uppercase text-gray-900 uppercase text-xs"
              for="cvv"
              >Cvv Code</label
            >
            <input
              class="tailInput w-full"
              type="text"
              id="cvv"
              placeholder="322"
            />
          </div>
        </div>
        <button
          class="
            bg-pink-500
            mt-5
            rounded
            w-full
            py-2
            px-4
            text-white
            hover:bg-pink-600 hover:shadow-xl
            transition
            duration-250
            ease-out
            cursor-pointer
          "
        >
          Purchase Ksh 36,000
        </button>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer"); %>
