<%- include('partials/header'); %>

<section class="single-product-section other-page">
  <div class="container">
    <div class="img-container">
      <div class="img">
        <img class="image" src="./images/image2.jpg" alt="" />
      </div>
      <div class="related-images">
        <img class="image related" src="./images/image3.jpg" alt="" />
        <img class="image related" src="./images/image3.jpg" alt="" />
        <img class="image related" src="./images/image3.jpg" alt="" />
      </div>
    </div>
    <div class="description">
      <h2>About this product</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit obcaecati
        tenetur repellendus saepe eum optio labore consequuntur asperiores? Ad
        quod ex tenetur at voluptate deserunt commodi adipisci libero suscipit
        obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Tempora cupiditate, voluptates dolorem provident aliquam expedita non
        suscipit neque libero ullam!
      </p>
      <div class="btns">
        <button class="purchase">Buy Now</button>
        <button class="add-to-cart">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h1>Reviews</h1>
    <div class="review">
      <h3 class="name">John Doe</h3>
      <h4 class="date">23 May, 2020</h4>
      <p class="feedback">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        cupiditate necessitatibus eius cumque maiores nulla culpa libero debitis
        consequuntur consequatur.
      </p>
    </div>
    <div class="review">
      <h3 class="name">John Doe</h3>
      <h4 class="date">23 May, 2020</h4>
      <p class="feedback">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        cupiditate necessitatibus eius cumque maiores nulla culpa libero debitis
        consequuntur consequatur. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Dolores nesciunt perspiciatis, laboriosam ullam vel
        officiis mollitia atque illum at temporibus ducimus molestias iusto
        neque vero dignissimos tempore beatae corrupti veritatis?
      </p>
    </div>
    <div class="review">
      <h3 class="name">John Doe</h3>
      <h4 class="date">23 May, 2020</h4>
      <p class="feedback">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        cupiditate necessitatibus eius cumque maiores nulla culpa libero debitis
        consequuntur consequatur.
      </p>
    </div>
    <div class="leave-feedback">
      <form action="">
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Leave a feedback"
        ></textarea>
        <button type="submit" id="send-feedback">Send feedback</button>
      </form>
    </div>
  </div>
</section>

<%- include('partials/footer'); %>
